# ==================================================
# KoG 投票系统 - 【Insane】专区 (共 253 张)
# 说明: 仅展示本分类地图，无任何冗余大列表
# ==================================================

# -------------- 【分类无缝切换】 --------------
add_vote "☐ Mᴀɪɴ Mᴀᴘs (342)" "clear_votes; exec votes/main.cfg"
add_vote "☐ Eᴀsʏ Mᴀᴘs (33)" "clear_votes; exec votes/easy.cfg"
add_vote "☐ Hᴀʀᴅ Mᴀᴘs (320)" "clear_votes; exec votes/hard.cfg"
add_vote "☒ Iɴsᴀɴᴇ Mᴀᴘs (253)" "info"
add_vote "☐ Exᴛʀᴇᴍᴇ Mᴀᴘs (64)" "clear_votes; exec votes/extreme.cfg"
add_vote "☐ Mᴏᴅs Mᴀᴘs (38)" "clear_votes; exec votes/mods.cfg"
add_vote "☐ Uɴᴋɴᴏᴡɴ Mᴀᴘs (103)" "clear_votes; exec votes/unknown.cfg"
add_vote " " "info"
add_vote "🎲 随机一张 Insane 地图" "random_map"
add_vote " " "info"

# -------------- 【Insane 地图列表】 --------------
add_vote "012 | ★★✰✰✰ | 2021-05-14" "change_map 012"
add_vote "1Spiral | ★★★✰✰ | 2026-01-04" "change_map 1Spiral"
add_vote "333 | ★★★✰✰ | 2021-01-01" "change_map 333"
add_vote "48komyu | ★✰✰✰✰ | 2023-10-18" "change_map 48komyu"
add_vote "ACID | ★★✰✰✰ | 2019-02-02" "change_map ACID"
add_vote "Aipless | ★✰✰✰✰ | 2025-04-12" "change_map Aipless"
add_vote "Angeldust | ★★✰✰✰ | 2020-08-07" "change_map Angeldust"
add_vote "Angeldust2 | ★★✰✰✰ | 2020-11-13" "change_map Angeldust2"
add_vote "Angeldust3 | ★★★✰✰ | 2021-03-02" "change_map Angeldust3"
add_vote "Arua | ★★✰✰✰ | 2026-04-06" "change_map Arua"
add_vote "Arylz4chile | ★★✰✰✰ | 2026-03-31" "change_map Arylz4chile"
add_vote "Arylz4ZeroKani | ★★★✰✰ | 2025-10-19" "change_map Arylz4ZeroKani"
add_vote "Astralyca | ★✰✰✰✰ | 2021-10-29" "change_map Astralyca"
add_vote "Asunder | ★★★✰✰ | 2024-01-27" "change_map Asunder"
add_vote "Atheris4Kaeloo | ★✰✰✰✰ | 2023-04-21" "change_map Atheris4Kaeloo"
add_vote "bazawa | ★★✰✰✰ | 2020-04-07" "change_map bazawa"
add_vote "Beam | ★★✰✰✰ | 2019-07-17" "change_map Beam"
add_vote "BlueMoon | ★✰✰✰✰ | 2019-01-19" "change_map BlueMoon"
add_vote "Bomboclad2 | ★★✰✰✰ | 2025-12-01" "change_map Bomboclad2"
add_vote "bubbles | ★✰✰✰✰ | 2021-01-29" "change_map bubbles"
add_vote "bzw2 | ★✰✰✰✰ | 2018-06-29" "change_map bzw2"
add_vote "bzw3 | ★✰✰✰✰ | 2018-04-14" "change_map bzw3"
add_vote "bzw4 | ★✰✰✰✰ | 2019-01-08" "change_map bzw4"
add_vote "bzw4Treefly | ★✰✰✰✰ | 2018-10-07" "change_map bzw4Treefly"
add_vote "bzw5 | ★★✰✰✰ | 2019-03-27" "change_map bzw5"
add_vote "bzw7 | ★★★✰✰ | 2019-05-31" "change_map bzw7"
add_vote "bzw8 | ★✰✰✰✰ | 2022-07-10" "change_map bzw8"
add_vote "cake_strawberry | ★✰✰✰✰ | 2024-12-28" "change_map cake_strawberry"
add_vote "calm | ★★✰✰✰ | 2019-08-02" "change_map calm"
add_vote "cave | ★★✰✰✰ | 2018-11-21" "change_map cave"
add_vote "ChainsawMan2 | ★★★✰✰ | 2025-07-13" "change_map ChainsawMan2"
add_vote "CkiS1 | ★★✰✰✰ | 2017-07-26" "change_map CkiS1"
add_vote "CkiS2 | ★★✰✰✰ | 2017-06-10" "change_map CkiS2"
add_vote "CkiS_4_MonkeyDream | ★★✰✰✰ | 2017-09-21" "change_map CkiS_4_MonkeyDream"
add_vote "CkiSbzw1 | ★★★✰✰ | 2019-06-18" "change_map CkiSbzw1"
add_vote "CkisFlip | ★✰✰✰✰ | 2018-10-11" "change_map CkisFlip"
add_vote "CkisFlip2 | ★★★✰✰ | 2020-01-17" "change_map CkisFlip2"
add_vote "CkiSNox1 | ★★✰✰✰ | 2017-04-23" "change_map CkiSNox1"
add_vote "CkisTerston1 | ★✰✰✰✰ | 2017-08-11" "change_map CkisTerston1"
add_vote "Conchetumare_X | ★★★✰✰ | 2021-11-07" "change_map Conchetumare_X"
add_vote "Conchetumare_Z | ★★★✰✰ | 2023-03-25" "change_map Conchetumare_Z"
add_vote "Connerics | ★✰✰✰✰ | 2018-11-30" "change_map Connerics"
add_vote "Corazon4caroLin | ★★★✰✰ | 2022-02-08" "change_map Corazon4caroLin"
add_vote "Corrupted | ★★★✰✰ | 2020-09-08" "change_map Corrupted"
add_vote "cursed | ★★★✰✰ | 2021-01-06" "change_map cursed"
add_vote "Cyanica | ★✰✰✰✰ | 2024-05-25" "change_map Cyanica"
add_vote "dark | ★★✰✰✰ | 2021-05-11" "change_map dark"
add_vote "darkforest | ★★✰✰✰ | 2023-05-10" "change_map darkforest"
add_vote "Dawn | ★✰✰✰✰ | 2021-08-31" "change_map Dawn"
add_vote "DeadHook | ★★✰✰✰ | 2025-06-09" "change_map DeadHook"
add_vote "DeadlyPath | ★★★✰✰ | 2018-10-07" "change_map DeadlyPath"
add_vote "DeathHook | ★✰✰✰✰ | 2026-08-31" "change_map DeathHook"
add_vote "Deceived | ★✰✰✰✰ | 2020-03-01" "change_map Deceived"
add_vote "DeepSea | ★★★✰✰ | 2022-11-15" "change_map DeepSea"
add_vote "Demonic | ★✰✰✰✰ | 2024-01-16" "change_map Demonic"
add_vote "dindila | ★★✰✰✰ | 2021-01-04" "change_map dindila"
add_vote "dragonexe | ★★✰✰✰ | 2021-04-16" "change_map dragonexe"
add_vote "DragonLore | ★★★✰✰ | 2023-01-08" "change_map DragonLore"
add_vote "Dynasty | ★★✰✰✰ | 2024-11-17" "change_map Dynasty"
add_vote "E4RG | ★★★✰✰ | 2022-05-03" "change_map E4RG"
add_vote "Eating_Hooks | ★★★✰✰ | 2021-08-02" "change_map Eating_Hooks"
add_vote "Ephemeral | ★✰✰✰✰ | 2020-12-25" "change_map Ephemeral"
add_vote "Error404 | ★★★✰✰ | 2024-03-31" "change_map Error404"
add_vote "Erys | ★✰✰✰✰ | 2019-07-14" "change_map Erys"
add_vote "Escenitty4Mano | ★✰✰✰✰ | 2022-11-28" "change_map Escenitty4Mano"
add_vote "Evaporate | ★✰✰✰✰ | 2025-04-13" "change_map Evaporate"
add_vote "EvilSunset | ★★✰✰✰ | 2021-06-27" "change_map EvilSunset"
add_vote "Exorcism | ★✰✰✰✰ | 2020-02-12" "change_map Exorcism"
add_vote "F1 | ★✰✰✰✰ | 2025-12-26" "change_map F1"
add_vote "F2 | ★★✰✰✰ | 2026-05-05" "change_map F2"
add_vote "featuristic | ★★✰✰✰ | 2018-08-30" "change_map featuristic"
add_vote "fjpflower | ★★✰✰✰ | 2026-06-07" "change_map fjpflower"
add_vote "FJPxJonas | ★★✰✰✰ | 2026-01-12" "change_map FJPxJonas"
add_vote "Flip4Benny | ★★✰✰✰ | 2019-01-15" "change_map Flip4Benny"
add_vote "Flip4Busted | ★✰✰✰✰ | 2021-01-09" "change_map Flip4Busted"
add_vote "Flip4Crack | ★★★✰✰ | 2020-10-31" "change_map Flip4Crack"
add_vote "FlipBzw | ★✰✰✰✰ | 2018-08-11" "change_map FlipBzw"
add_vote "FlipBzw2 | ★✰✰✰✰ | 2019-02-20" "change_map FlipBzw2"
add_vote "Flipfeat2 | ★★✰✰✰ | 2022-11-21" "change_map Flipfeat2"
add_vote "FlipFeat3 | ★★★✰✰ | 2026-01-31" "change_map FlipFeat3"
add_vote "FlipLipp30 | ★✰✰✰✰ | 2018-05-05" "change_map FlipLipp30"
add_vote "FlipLipp35 | ★★★✰✰ | 2018-09-28" "change_map FlipLipp35"
add_vote "FlipLipp38 | ★✰✰✰✰ | 2018-11-22" "change_map FlipLipp38"
add_vote "FreedomDive | ★✰✰✰✰ | 2024-06-02" "change_map FreedomDive"
add_vote "FreeMazanitax | ★✰✰✰✰ | 2023-08-27" "change_map FreeMazanitax"
add_vote "ghosttown | ★★✰✰✰ | 2020-12-01" "change_map ghosttown"
add_vote "Ghoti | ★★✰✰✰ | 2025-05-18" "change_map Ghoti"
add_vote "Goldiensane | ★★✰✰✰ | 2021-11-19" "change_map Goldiensane"
add_vote "Gores_of_Spades | ★✰✰✰✰ | 2022-12-03" "change_map Gores_of_Spades"
add_vote "GoWindy1 | ★✰✰✰✰ | 2022-09-05" "change_map GoWindy1"
add_vote "Granulos_De_Roca | ★★✰✰✰ | 2020-07-21" "change_map Granulos_De_Roca"
add_vote "Green | ★★✰✰✰ | 2026-03-31" "change_map Green"
add_vote "GreyZ | ★★✰✰✰ | 2020-06-21" "change_map GreyZ"
add_vote "Ground | ★★★✰✰ | 2021-01-22" "change_map Ground"
add_vote "Grusland | ★★★✰✰ | 2024-12-30" "change_map Grusland"
add_vote "HeatUp_by_Shyzo | ★★✰✰✰ | 2018-06-17" "change_map HeatUp_by_Shyzo"
add_vote "Hoarfrost2 | ★★★✰✰ | 2023-05-19" "change_map Hoarfrost2"
add_vote "iCe-Ice | ★★✰✰✰ | 2021-10-10" "change_map iCe-Ice"
add_vote "IceBox | ★✰✰✰✰ | 2021-07-02" "change_map IceBox"
add_vote "Imaginary_Voyage | ★✰✰✰✰ | 2021-05-25" "change_map Imaginary_Voyage"
add_vote "ImagineThePain | ★★★✰✰ | 2022-01-21" "change_map ImagineThePain"
add_vote "ImpelDown | ★★✰✰✰ | 2021-09-03" "change_map ImpelDown"
add_vote "Impossible | ★★✰✰✰ | 2016-12-22" "change_map Impossible"
add_vote "infazci | ★★✰✰✰ | 2023-10-24" "change_map infazci"
add_vote "Innercise | ★★★✰✰ | 2025-05-23" "change_map Innercise"
add_vote "insomyu | ★✰✰✰✰ | 2024-09-06" "change_map insomyu"
add_vote "JoKGores | ★★✰✰✰ | 2022-04-08" "change_map JoKGores"
add_vote "Jore4NANAMAR | ★★★✰✰ | 2021-01-10" "change_map Jore4NANAMAR"
add_vote "JustCommunity | ★✰✰✰✰ | 2021-07-27" "change_map JustCommunity"
add_vote "justfeat | ★✰✰✰✰ | 2021-06-25" "change_map justfeat"
add_vote "kakdela | ★✰✰✰✰ | 2025-09-29" "change_map kakdela"
add_vote "Kaston | ★✰✰✰✰ | 2025-08-17" "change_map Kaston"
add_vote "Kawk_Doo | ★★★✰✰ | 2024-06-07" "change_map Kawk_Doo"
add_vote "Kickmix | ★✰✰✰✰ | 2020-09-04" "change_map Kickmix"
add_vote "King_of_Mountains | ★★★✰✰ | 2021-03-09" "change_map King_of_Mountains"
add_vote "LamaBro | ★✰✰✰✰ | 2016-10-25" "change_map LamaBro"
add_vote "legendary | ★★✰✰✰ | 2019-07-01" "change_map legendary"
add_vote "light | ★★✰✰✰ | 2021-02-16" "change_map light"
add_vote "LikeAFlo | ★✰✰✰✰ | 2021-10-19" "change_map LikeAFlo"
add_vote "LittleCandles | ★★✰✰✰ | 2020-06-12" "change_map LittleCandles"
add_vote "LittlePark | ★★✰✰✰ | 2025-07-04" "change_map LittlePark"
add_vote "melisawa | ★✰✰✰✰ | 2025-01-27" "change_map melisawa"
add_vote "Micksee | ★★★✰✰ | 2025-02-22" "change_map Micksee"
add_vote "midnight | ★✰✰✰✰ | 2021-02-05" "change_map midnight"
add_vote "Minecraft | ★★★✰✰ | 2023-02-17" "change_map Minecraft"
add_vote "Miwackle | ★★✰✰✰ | 2026-03-08" "change_map Miwackle"
add_vote "Mixi1 | ★★✰✰✰ | 2020-11-24" "change_map Mixi1"
add_vote "Mixi2 | ★★★✰✰ | 2021-01-08" "change_map Mixi2"
add_vote "Mixi3 | ★★★✰✰ | 2021-05-18" "change_map Mixi3"
add_vote "Mixi4 | ★★★✰✰ | 2021-09-17" "change_map Mixi4"
add_vote "Mixi4KKUBA102 | ★★✰✰✰ | 2020-09-26" "change_map Mixi4KKUBA102"
add_vote "Mixi4Rouz | ★✰✰✰✰ | 2022-12-30" "change_map Mixi4Rouz"
add_vote "Mixi4Zonsa | ★✰✰✰✰ | 2023-09-27" "change_map Mixi4Zonsa"
add_vote "Mixi5 | ★★✰✰✰ | 2024-03-02" "change_map Mixi5"
add_vote "MOJITO | ★✰✰✰✰ | 2021-08-10" "change_map MOJITO"
add_vote "Monstro | ★★✰✰✰ | 2022-08-12" "change_map Monstro"
add_vote "MoonFlip | ★★★✰✰ | 2019-05-26" "change_map MoonFlip"
add_vote "MoonIX | ★✰✰✰✰ | 2025-12-31" "change_map MoonIX"
add_vote "Moonlight | ★✰✰✰✰ | 2025-12-08" "change_map Moonlight"
add_vote "Morrow | ★★✰✰✰ | 2023-06-12" "change_map Morrow"
add_vote "Mqx1 | ★✰✰✰✰ | 2025-12-22" "change_map Mqx1"
add_vote "MqxTnul | ★✰✰✰✰ | 2023-10-14" "change_map MqxTnul"
add_vote "Muay_Thai | ★✰✰✰✰ | 2021-11-01" "change_map Muay_Thai"
add_vote "N4D | ★✰✰✰✰ | 2018-11-01" "change_map N4D"
add_vote "Naruto | ★✰✰✰✰ | 2023-04-02" "change_map Naruto"
add_vote "NealsonCkiS8 | ★✰✰✰✰ | Official" "change_map NealsonCkiS8"
add_vote "Nertato4Gummi | ★★✰✰✰ | 2019-09-22" "change_map Nertato4Gummi"
add_vote "Noctulo | ★✰✰✰✰ | 2024-07-11" "change_map Noctulo"
add_vote "Nox2 | ★✰✰✰✰ | 2017-06-25" "change_map Nox2"
add_vote "Nox4Flo | ★★★✰✰ | 2021-09-28" "change_map Nox4Flo"
add_vote "NoxFlip | ★✰✰✰✰ | 2018-10-03" "change_map NoxFlip"
add_vote "Nytherial | ★★★✰✰ | 2026-06-29" "change_map Nytherial"
add_vote "Nyxol | ★★★✰✰ | 2026-07-05" "change_map Nyxol"
add_vote "Oasis | ★✰✰✰✰ | 2019-01-22" "change_map Oasis"
add_vote "oen1 | ★★✰✰✰ | 2019-05-04" "change_map oen1"
add_vote "Omesurion4Luckuy21 | ★✰✰✰✰ | 2021-11-28" "change_map Omesurion4Luckuy21"
add_vote "Omesurion4Shayze | ★★✰✰✰ | 2022-03-29" "change_map Omesurion4Shayze"
add_vote "Omezurion4Neo | ★★★✰✰ | 2022-07-29" "change_map Omezurion4Neo"
add_vote "Operaenna | ★★✰✰✰ | 2024-08-03" "change_map Operaenna"
add_vote "Overclocked | ★★★✰✰ | 2023-06-01" "change_map Overclocked"
add_vote "Paradise_Island | ★✰✰✰✰ | 2018-09-28" "change_map Paradise_Island"
add_vote "Pastelirycs | ★✰✰✰✰ | 2019-10-17" "change_map Pastelirycs"
add_vote "Peaceful | ★★★✰✰ | 2024-02-15" "change_map Peaceful"
add_vote "Phoenix | ★★✰✰✰ | 2021-07-20" "change_map Phoenix"
add_vote "Pickuchi | ★✰✰✰✰ | 2025-09-14" "change_map Pickuchi"
add_vote "Piece_of_Sheet | ★★★✰✰ | 2021-06-20" "change_map Piece_of_Sheet"
add_vote "Pipparo | ★✰✰✰✰ | 2025-11-23" "change_map Pipparo"
add_vote "planetse | ★★✰✰✰ | 2022-11-30" "change_map planetse"
add_vote "Possession | ★★★✰✰ | 2020-06-28" "change_map Possession"
add_vote "protokolbzw | ★★★✰✰ | 2022-12-02" "change_map protokolbzw"
add_vote "Purple | ★★✰✰✰ | 2025-11-09" "change_map Purple"
add_vote "PurpleStardust | ★★✰✰✰ | 2019-08-19" "change_map PurpleStardust"
add_vote "Radioactive | ★★★✰✰ | 2024-12-25" "change_map Radioactive"
add_vote "rawensawa | ★★★✰✰ | 2024-01-20" "change_map rawensawa"
add_vote "rawensawa4wade | ★✰✰✰✰ | 2024-06-24" "change_map rawensawa4wade"
add_vote "RedCastle3 | ★✰✰✰✰ | 2023-12-25" "change_map RedCastle3"
add_vote "RedMoon | ★✰✰✰✰ | 2018-11-15" "change_map RedMoon"
add_vote "Reminder | ★★★✰✰ | 2024-06-26" "change_map Reminder"
add_vote "rey4benz | ★★★✰✰ | 2024-10-06" "change_map rey4benz"
add_vote "rey4rey | ★★★✰✰ | 2024-08-25" "change_map rey4rey"
add_vote "Ring_of_Gores_III | ★★★✰✰ | 2021-05-01" "change_map Ring_of_Gores_III"
add_vote "RingofGores | ★★✰✰✰ | 2017-12-23" "change_map RingofGores"
add_vote "RingofGores2 | ★★★✰✰ | 2020-04-26" "change_map RingofGores2"
add_vote "RyuGore3 | ★★✰✰✰ | 2018-09-19" "change_map RyuGore3"
add_vote "RyuGore5 | ★★✰✰✰ | 2019-01-28" "change_map RyuGore5"
add_vote "SakuraWorld | ★★✰✰✰ | 2026-09-13" "change_map SakuraWorld"
add_vote "Saturation | ★✰✰✰✰ | 2020-09-19" "change_map Saturation"
add_vote "Scary | ★★★✰✰ | 2021-08-28" "change_map Scary"
add_vote "SendanLife | ★✰✰✰✰ | 2025-11-02" "change_map SendanLife"
add_vote "Serenitee | ★★★✰✰ | 2022-08-26" "change_map Serenitee"
add_vote "Shaft | ★✰✰✰✰ | 2026-08-09" "change_map Shaft"
add_vote "Shorty | ★★★✰✰ | 2022-07-03" "change_map Shorty"
add_vote "Shyzo4TheCrew | ★★✰✰✰ | 2018-07-27" "change_map Shyzo4TheCrew"
add_vote "Shyzo4TS | ★★✰✰✰ | 2018-09-01" "change_map Shyzo4TS"
add_vote "Silhouette | ★★✰✰✰ | 2026-01-25" "change_map Silhouette"
add_vote "sionstail | ★★✰✰✰ | 2025-06-27" "change_map sionstail"
add_vote "SkyrelOne | ★✰✰✰✰ | 2018-07-10" "change_map SkyrelOne"
add_vote "SkyrelTwo | ★★★✰✰ | 2023-04-26" "change_map SkyrelTwo"
add_vote "Slave_of_evil | ★★★✰✰ | 2022-07-19" "change_map Slave_of_evil"
add_vote "SnailChan_Adventure | ★✰✰✰✰ | 2021-07-16" "change_map SnailChan_Adventure"
add_vote "Snakepit | ★★★✰✰ | 2023-12-31" "change_map Snakepit"
add_vote "SnipeZonsa | ★★✰✰✰ | 2025-03-22" "change_map SnipeZonsa"
add_vote "Square_of_Gores | ★★★✰✰ | 2021-02-09" "change_map Square_of_Gores"
add_vote "Square_of_Gores_2 | ★★★✰✰ | 2021-12-25" "change_map Square_of_Gores_2"
add_vote "Ssor4badoumed | ★★✰✰✰ | 2024-08-31" "change_map Ssor4badoumed"
add_vote "Ssor4Minori | ★★★✰✰ | 2023-09-13" "change_map Ssor4Minori"
add_vote "Suna_Tokei | ★★★✰✰ | 2019-10-19" "change_map Suna_Tokei"
add_vote "Sunrise | ★✰✰✰✰ | 2025-10-05" "change_map Sunrise"
add_vote "SUPSANE | ★★✰✰✰ | 2018-04-28" "change_map SUPSANE"
add_vote "Sura | ★★★✰✰ | 2022-04-23" "change_map Sura"
add_vote "Synergy | ★✰✰✰✰ | 2020-05-29" "change_map Synergy"
add_vote "Teelands_3 | ★✰✰✰✰ | 2021-01-07" "change_map Teelands_3"
add_vote "Teematic | ★★✰✰✰ | 2026-01-18" "change_map Teematic"
add_vote "Tendril | ★★★✰✰ | 2025-09-23" "change_map Tendril"
add_vote "The_Cube_2 | ★★★✰✰ | 2022-11-15" "change_map The_Cube_2"
add_vote "The_Price | ★✰✰✰✰ | 2025-10-26" "change_map The_Price"
add_vote "TheGauntlet | ★★★✰✰ | 2019-06-03" "change_map TheGauntlet"
add_vote "Themed4RegKecske | ★★✰✰✰ | 2025-04-06" "change_map Themed4RegKecske"
add_vote "themixi | ★★★✰✰ | 2025-05-09" "change_map themixi"
add_vote "ThisIsSnipeZ | ★★✰✰✰ | 2024-12-27" "change_map ThisIsSnipeZ"
add_vote "Tomahawk | ★★✰✰✰ | 2018-09-13" "change_map Tomahawk"
add_vote "TomTom | ★✰✰✰✰ | 2017-07-14" "change_map TomTom"
add_vote "TomTom2 | ★✰✰✰✰ | 2017-08-06" "change_map TomTom2"
add_vote "TomTom4 | ★★✰✰✰ | 2020-07-08" "change_map TomTom4"
add_vote "TomTom5 | ★✰✰✰✰ | 2020-11-06" "change_map TomTom5"
add_vote "TomTom6 | ★★✰✰✰ | 2020-12-08" "change_map TomTom6"
add_vote "TomTom7 | ★★★✰✰ | 2021-10-15" "change_map TomTom7"
add_vote "Toog | ★★✰✰✰ | 2026-03-23" "change_map Toog"
add_vote "Toxigon | ★★★✰✰ | 2019-09-29" "change_map Toxigon"
add_vote "TreeZ | ★★★✰✰ | 2024-12-31" "change_map TreeZ"
add_vote "TRILOG1A | ★✰✰✰✰ | 2021-06-06" "change_map TRILOG1A"
add_vote "Unique | ★✰✰✰✰ | 2021-05-28" "change_map Unique"
add_vote "UnKnown4vED | ★✰✰✰✰ | 2021-05-30" "change_map UnKnown4vED"
add_vote "Untilted | ★★★✰✰ | 2025-12-27" "change_map Untilted"
add_vote "Veltrix | ★✰✰✰✰ | 2026-02-09" "change_map Veltrix"
add_vote "WarmUp_by_Shyzo | ★★✰✰✰ | 2018-06-03" "change_map WarmUp_by_Shyzo"
add_vote "WhatRemains | ★★★✰✰ | 2019-05-29" "change_map WhatRemains"
add_vote "Wicked | ★★✰✰✰ | 2022-05-24" "change_map Wicked"
add_vote "Winter_rain | ★✰✰✰✰ | 2022-04-05" "change_map Winter_rain"
add_vote "Xerceal | ★★★✰✰ | 2025-03-17" "change_map Xerceal"
add_vote "Xoxo4Hendrix | ★✰✰✰✰ | 2021-01-05" "change_map Xoxo4Hendrix"
add_vote "YellowMoon | ★✰✰✰✰ | 2018-12-23" "change_map YellowMoon"
add_vote "Yo12 | ★✰✰✰✰ | 2017-09-01" "change_map Yo12"
add_vote "Yoc4crunchY | ★★✰✰✰ | 2020-08-22" "change_map Yoc4crunchY"
add_vote "Yoc4mpampas | ★★★✰✰ | 2021-10-22" "change_map Yoc4mpampas"
add_vote "Yoin4Tester | ★★✰✰✰ | 2024-05-21" "change_map Yoin4Tester"
add_vote "Yuslo4Nizzza | ★✰✰✰✰ | 2017-02-24" "change_map Yuslo4Nizzza"
add_vote "Yuslo4Shoyyy | ★✰✰✰✰ | 2017-03-24" "change_map Yuslo4Shoyyy"
add_vote "YusloCkis1 | ★★✰✰✰ | 2017-07-07" "change_map YusloCkis1"
add_vote "Zentarus | ★★✰✰✰ | 2025-11-18" "change_map Zentarus"
add_vote "ZeroKani4JuKKi | ★★★✰✰ | 2025-10-12" "change_map ZeroKani4JuKKi"
add_vote "Zonsa4Mixi | ★★✰✰✰ | 2023-01-06" "change_map Zonsa4Mixi"
add_vote "Zubr | ★★★✰✰ | 2021-07-06" "change_map Zubr"
