# ==================================================
# KoG 投票系统 - 【Mods】专区 (共 38 张)
# 说明: 仅展示本分类地图，无任何冗余大列表
# ==================================================

# -------------- 【分类无缝切换】 --------------
add_vote "☐ Mᴀɪɴ Mᴀᴘs (342)" "clear_votes; exec votes/main.cfg"
add_vote "☐ Eᴀsʏ Mᴀᴘs (33)" "clear_votes; exec votes/easy.cfg"
add_vote "☐ Hᴀʀᴅ Mᴀᴘs (320)" "clear_votes; exec votes/hard.cfg"
add_vote "☐ Iɴsᴀɴᴇ Mᴀᴘs (253)" "clear_votes; exec votes/insane.cfg"
add_vote "☐ Exᴛʀᴇᴍᴇ Mᴀᴘs (64)" "clear_votes; exec votes/extreme.cfg"
add_vote "☒ Mᴏᴅs Mᴀᴘs (38)" "info"
add_vote "☐ Uɴᴋɴᴏᴡɴ Mᴀᴘs (102)" "clear_votes; exec votes/unknown.cfg"
add_vote "--------------------" "info"
add_vote "🎲 随机一张 Mods 地图" "random_map"
add_vote "--------------------" "info"

# -------------- 【Mods 地图列表】 --------------
add_vote "BabyDragger | 30分 | 2025-09-01" "change_map BabyDragger"
add_vote "Together | 22分 | 2025-07-13" "change_map Together"
add_vote "Himalaya3 | 39分 | 2025-04-20" "change_map Himalaya3"
add_vote "Furia | 14分 | 2024-05-05" "change_map Furia"
add_vote "Shadow_Spring | 14分 | 2024-01-12" "change_map Shadow_Spring"
add_vote "Aled_to_the_Legend | 22分 | 2023-12-29" "change_map Aled_to_the_Legend"
add_vote "Aura | 22分 | 2023-05-30" "change_map Aura"
add_vote "Sanada | 14分 | 2023-03-14" "change_map Sanada"
add_vote "mrs_motivation | 32分 | 2023-02-11" "change_map mrs_motivation"
add_vote "Pradera | 14分 | 2023-01-29" "change_map Pradera"
add_vote "Pukki_World | 32分 | 2022-12-23" "change_map Pukki_World"
add_vote "Ceniza | 8分 | 2022-08-09" "change_map Ceniza"
add_vote "DANCING_FREEZE | 14分 | 2022-08-07" "change_map DANCING_FREEZE"
add_vote "Himalaya2 | 32分 | 2022-05-10" "change_map Himalaya2"
add_vote "Caverna | 8分 | 2022-03-15" "change_map Caverna"
add_vote "Madriguera | 8分 | 2022-02-18" "change_map Madriguera"
add_vote "Balada | 14分 | 2021-11-26" "change_map Balada"
add_vote "Caminata | 14分 | 2021-09-10" "change_map Caminata"
add_vote "UnlockTeam | 22分 | 2021-05-16" "change_map UnlockTeam"
add_vote "DummyPhantom | 14分 | 2020-11-27" "change_map DummyPhantom"
add_vote "hanh_phuc | 32分 | 2020-06-03" "change_map hanh_phuc"
add_vote "Himalaya | 32分 | 2019-08-08" "change_map Himalaya"
add_vote "Gorace | 22分 | 2019-08-04" "change_map Gorace"
add_vote "NyantoDummy | 14分 | 2018-08-24" "change_map NyantoDummy"
add_vote "Hawerdummy | 22分 | 2018-03-09" "change_map Hawerdummy"
add_vote "DuskyDrop | 22分 | 2017-06-10" "change_map DuskyDrop"
add_vote "Marceline | 32分 | 2017-05-21" "change_map Marceline"
add_vote "Nyanto4Xola | 8分 | 2017-03-18" "change_map Nyanto4Xola"
add_vote "Escape | 14分" "change_map Escape"
add_vote "Jebeto-Gores | 4分" "change_map Jebeto-Gores"
add_vote "KeroDummy | 14分" "change_map KeroDummy"
add_vote "LuLu-Gores | 22分" "change_map LuLu-Gores"
add_vote "Miniature_Fantasy | 22分" "change_map Miniature_Fantasy"
add_vote "Q-Dummy-Drag1 | 4分" "change_map Q-Dummy-Drag1"
add_vote "Q-Dummy-Drag2 | 4分" "change_map Q-Dummy-Drag2"
add_vote "Q-Gores-Unhook | 8分" "change_map Q-Gores-Unhook"
add_vote "Q-Hook | 8分" "change_map Q-Hook"
add_vote "Xyz_gores | 8分" "change_map Xyz_gores"
