# ==================================================
# KoG 投票系统 - 【Test】专区 (共 48 张)
# 说明: 仅展示本分类地图，无任何冗余大列表
# ==================================================

# -------------- 【分类无缝切换】 --------------
add_vote "☐ Mᴀɪɴ Mᴀᴘs (342)" "clear_votes; exec votes/main.cfg"
add_vote "☐ Eᴀsʏ Mᴀᴘs (33)" "clear_votes; exec votes/easy.cfg"
add_vote "☐ Hᴀʀᴅ Mᴀᴘs (320)" "clear_votes; exec votes/hard.cfg"
add_vote "☐ Sᴏʟᴏ Mᴀᴘs (37)" "clear_votes; exec votes/solo.cfg"
add_vote "☐ Iɴsᴀɴᴇ Mᴀᴘs (253)" "clear_votes; exec votes/insane.cfg"
add_vote "☐ Exᴛʀᴇᴍᴇ Mᴀᴘs (64)" "clear_votes; exec votes/extreme.cfg"
add_vote "☐ Mᴏᴅs Mᴀᴘs (38)" "clear_votes; exec votes/mods.cfg"
add_vote "☒ TEST Mᴀᴘs (48)" "info"
add_vote "☐ Uɴᴋɴᴏᴡɴ Mᴀᴘs (65)" "clear_votes; exec votes/unknown.cfg"
add_vote "--------------------" "info"
add_vote "🎲 随机一张 Test 地图" "random_map 0"
add_vote "--------------------" "info"

# -------------- 【Test 地图列表】 --------------
add_vote "Coraly | ★★★✰✰ | 2026-10-10" "change_map Coraly"
add_vote "mindset | ★★★✰✰ | 2026-10-10" "change_map mindset"
add_vote "AMagnoliasDemise | ★★★✰✰ | 2026-10-07" "change_map AMagnoliasDemise"
add_vote "BlueStarFinal | ★★★✰✰ | 2026-10-07" "change_map BlueStarFinal"
add_vote "DuskFall | ★★★✰✰ | 2026-10-07" "change_map DuskFall"
add_vote "violet | ★★★✰✰ | 2026-10-07" "change_map violet"
add_vote "Apatitnessssssssssssss | ★★★✰✰ | 2026-09-30" "change_map Apatitnessssssssssssss"
add_vote "Bloodlust | ★★★✰✰ | 2026-09-30" "change_map Bloodlust"
add_vote "CrimsonHell | ★★★✰✰ | 2026-09-30" "change_map CrimsonHell"
add_vote "Durability | ★★★✰✰ | 2026-09-30" "change_map Durability"
add_vote "Geva&sans4levo | ★★★✰✰ | 2026-09-30" "change_map Geva&sans4levo"
add_vote "GreenSnake | ★★★✰✰ | 2026-09-30" "change_map GreenSnake"
add_vote "Ilnaum | ★★★✰✰ | 2026-09-30" "change_map Ilnaum"
add_vote "IntheSilenceofNightmares | ★★★✰✰ | 2026-09-30" "change_map IntheSilenceofNightmares"
add_vote "LuxAeterna | ★★★✰✰ | 2026-09-30" "change_map LuxAeterna"
add_vote "NIGHTMORS | ★★★✰✰ | 2026-09-30" "change_map NIGHTMORS"
add_vote "Nyxen | ★★★✰✰ | 2026-09-30" "change_map Nyxen"
add_vote "Serene | ★★★✰✰ | 2026-09-30" "change_map Serene"
add_vote "ShadowBloom | ★★★✰✰ | 2026-09-30" "change_map ShadowBloom"
add_vote "SolarFlare | ★★★✰✰ | 2026-09-30" "change_map SolarFlare"
add_vote "tasate | ★★★✰✰ | 2026-09-30" "change_map tasate"
add_vote "The_Crack | ★★★✰✰ | 2026-09-30" "change_map The_Crack"
add_vote "TheWormhole | ★★★✰✰ | 2026-09-30" "change_map TheWormhole"
add_vote "Torture | ★★★✰✰ | 2026-09-30" "change_map Torture"
add_vote "turquoiselagoon | ★★★✰✰ | 2026-09-30" "change_map turquoiselagoon"
add_vote "Whenhacestusmomosenunmap | ★★★✰✰ | 2026-09-30" "change_map Whenhacestusmomosenunmap"
add_vote "After4Jore | ★★★✰✰ | 2026-08-30" "change_map After4Jore"
add_vote "AmlorDer1 | ★★★✰✰ | 2026-08-30" "change_map AmlorDer1"
add_vote "Blaze | ★★★✰✰ | 2026-08-30" "change_map Blaze"
add_vote "Dog-Marcel | ★★★✰✰ | 2026-08-30" "change_map Dog-Marcel"
add_vote "Dog-Marcel(1) | ★★★✰✰ | 2026-08-30" "change_map Dog-Marcel(1)"
add_vote "Entombed | ★★★✰✰ | 2026-08-30" "change_map Entombed"
add_vote "grassland | ★★★✰✰ | 2026-08-30" "change_map grassland"
add_vote "Honour-Marcel | ★★★✰✰ | 2026-08-30" "change_map Honour-Marcel"
add_vote "Inversed | ★★★✰✰ | 2026-08-30" "change_map Inversed"
add_vote "lostforeveR | ★★★✰✰ | 2026-08-30" "change_map lostforeveR"
add_vote "m1 | ★★★✰✰ | 2026-08-30" "change_map m1"
add_vote "MapOfTheDriveTowardsHumanLimits | ★★★✰✰ | 2026-08-30" "change_map MapOfTheDriveTowardsHumanLimits"
add_vote "Pathfinder | ★★★✰✰ | 2026-08-30" "change_map Pathfinder"
add_vote "RipperXshiro | ★★★✰✰ | 2026-08-30" "change_map RipperXshiro"
add_vote "snot | ★★★✰✰ | 2026-08-30" "change_map snot"
add_vote "TheClimb | ★★★✰✰ | 2026-08-30" "change_map TheClimb"
add_vote "ThornsOfAgony | ★★★✰✰ | 2026-08-30" "change_map ThornsOfAgony"
add_vote "Twilight | ★★★✰✰ | 2026-08-30" "change_map Twilight"
add_vote "uncool | ★★★✰✰ | 2026-08-30" "change_map uncool"
add_vote "uvuvwevwevwe | ★★★✰✰ | 2026-08-30" "change_map uvuvwevwevwe"
add_vote "Vace | ★★★✰✰ | 2026-08-30" "change_map Vace"
add_vote "Varaantha | ★★★✰✰ | 2026-08-30" "change_map Varaantha"
